<!DOCTYPE html>
<html ng-app='homelessApp'> 
  <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <title></title>
      <meta name="description" content="">
      <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>

      <!-- View -->         
      <div ng-controller="UserController">  
        <ul>
          <li ng-repeat ="object in array">{{object}}</li>
        </ul>
        <form ng-submit="addUser()">
          <input type="text" placeholder="first name" ng-model="firstName"><br/>
          <input type="text" placeholder="last name" ng-model="lastName"><br/>
          <input type="text" placeholder="email" ng-model="email"><br/>
          <input type="text" placeholder="password" ng-model="password"><br/>
          <input type="text" placeholder="phoneNumber" ng-model="phoneNumber"><br/>
          <input type="text" placeholder="role" ng-model="role"><br/>
          <button type="submit">Add</button>
        </form> 
      </div>

      <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.js"></script>
      <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular-resource.js"></script>

      <script type="text/javascript" src="js/app.js"></script>
      <script type="text/javascript" src="js/controllers/user-controller.js"></script>
  </body>
</html>